.header {
    background-color: grey;
    color: rgb(224, 230, 225);
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .auth-buttons {
    button {
      margin-left: 10px;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }
  
    .btn-shared {
      background: #ffffff;
      color: #0a0842;
      border-radius: 5px;
    }
  
    button:first-child {
      @extend .btn-shared;
    }
  
    button:last-child {
      @extend .btn-shared;
    }
  }
  